/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#logo img {
    width: 150px; /* Adjust the logo size as needed */
}

/* Main content styles */
main {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Section styles */
section {
    margin-bottom: 40px;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

/* Tutor card styles */
.tutor-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.tutor-card img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    width: 100px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
}
